@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

.container-fluid {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.8);
  top: 5%;
  max-width: 95%;
  padding: 1vh;
}

.github {
  overflow: auto;
  max-height: 700px;
  text-align: center;
  margin-bottom: 32px;
  border-radius: .3rem;
}

.github-repo {
  display:  inline-flex;
  border-radius: 0.5em;
  background-color: #ffffff;
  margin-right: 10px;
  margin-left: 0px;
  position: relative;
  border: 0.5px solid black;
}

.row {
  max-height: 732px;
}

.informations {
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100%;
  overflow: auto;
  height: 700px;
}

.middle-coll {
  text-align: center;
  padding: 0;
  margin-left: auto;
  /* right: 0; */
}

.powerpoint {
  margin-bottom: 32px;
  width: 100%;
}

.col-sm-6 {
  max-width: 48%;
}

.contacts {
  overflow: auto;
  height: 262px;
}
