<h1>Ayy Lmao means Alien</h1>

<!DOCTYPE html>
<html>
  <head>
    <style>
      .grid{
        /* background-color: rgba(100, 255, 255, 0.8); */
        /* border: 1px solid rgba(0, 0, 0, 0.8); */
        padding: 0px;
        /* font-size: 30px; */
        text-align: right;
      }
      .github-pos {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: right;
        top: 100px;
        width: 50%;
        left: 35%;
        border: 1px solid rgba(0, 0, 0, 0.8);
      }
    </style>
  </head>

  <body>
    <div class="github-pos" class="grid">
      <div>
        <div class="github-card" data-github="nLatt/date-a-scientist" data-width="400" data-target="blank" data-height="400" data-theme="default"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
      </div>
      <div>
        <div class="github-card" data-github="nLatt/Game_Of_Life" data-width="400" data-target="blank" data-height="" data-theme="default"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
      </div>
    </div>
  </body>
</html>
