<!-- <h1>Ayy Lmao means Alien</h1> -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Ayy Lmao</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tags.css' %}">
  </head>

  <body>
    <div class="container-fluid">

      <div class="jumbotron">
        <h1>Portfolio of Julian Hallegatte</h1>
      </div>

      <div class="row">
        <div class="informations jumbotron col-sm-4 ">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ligula orci, tincidunt nec risus lacinia, pharetra semper mi. Suspendisse ut leo tempus, semper elit sed, aliquam arcu. Etiam eros tellus, dictum in dapibus ac, porttitor in dui. Quisque sagittis tincidunt maximus. In congue blandit tincidunt. Curabitur placerat pellentesque quam, sed pellentesque nulla commodo et. Sed eu vestibulum nibh. Etiam lacinia elit lacinia erat tincidunt vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum sed mi a porta. Vivamus dapibus diam orci, sagittis vestibulum ante scelerisque id. Aenean ac tempor neque.

            Vestibulum facilisis dui augue, at dignissim tortor aliquam cursus. Etiam a ullamcorper dui. Maecenas eget hendrerit mi. Proin gravida, mi vel blandit sollicitudin, massa nisl molestie odio, varius placerat est quam vitae erat. Etiam posuere, diam at tempus tempor, nibh eros placerat lectus, in bibendum risus libero in nisl. Suspendisse vel ligula at turpis tempor efficitur. Nulla at ipsum tempor dolor iaculis consectetur. Fusce condimentum turpis metus, ut ultricies dui accumsan eget. Donec quis sollicitudin tellus. Pellentesque elementum eu ligula quis vulputate. Aliquam condimentum nisl tempus, placerat purus in, placerat dolor.

            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed porta rhoncus nisl, et ullamcorper quam consectetur porta. Maecenas augue nibh, blandit id sodales tristique, fringilla sed justo. Nullam convallis lacus quis pellentesque varius. Phasellus non enim sed libero iaculis vestibulum eget et lorem. Nam in urna tempor, suscipit nisl at, molestie urna. Aenean congue consectetur mi sed suscipit. Nam et lectus eget orci rhoncus facilisis. Nam consequat tortor non purus aliquam luctus.
          </p>
        </div>

        <div class="col-sm-4 middle-coll">
          <iframe class="powerpoint" src="https://onedrive.live.com/embed?cid=E578C6588EC79EAC&resid=E578C6588EC79EAC%21115315&authkey=APbdzWnxVUyiohc&em=2" width="476" height="288" frameborder="0" scrolling="no"></iframe>          <div class="jumbotron"></div>
        </div>

        <div class="col-sm-4 github">
          {% for repo in repos %}
            <div class="github-repo">
              <div class="github-card" data-github="{{ user }}/{{ repo }}" data-width="" data-target="blank" data-height="" data-theme="default"></div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
